dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    line-height: 1.7 !important;
  }
  dt {
    float: left;
    width: 20%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
  }
  dd {
    float: left;
    width: 80%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
    word-break: break-all;
  }

  /** 
   * @Author: Phen 
   * @Date: 2020-03-26 13:42:42 
   * @Desc: style for form 
   */
  .form-label-text{
    /* text-align: end !important; */
    padding-top: 6px;
  }
  #map {
    width: 100%;
    height: 400px;
    
  }

  body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif !important;
    -webkit-font-smoothing:antialiased !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    
  }
  .form-control{
    font-size: 14px;
  }

  /* template style */
  .container-fluid{
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;

  }